[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
onnx = "*"
onnx-simplifier = "*"
onnxruntime = "*"
pytest = "*"
tensorflow = "*"
tf2onnx = ">=1.12.1"
matplotlib = "*"
pandas = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
ipykernel = "*"
isort = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
